<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <span class="h1 fw-bold mb-0">Habitaciones</span>
                                <div class="col">
                            <form>

                               <div class="form-group">
                                <label for="exampleFormControlFile1">Logo</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                               </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Código</label>
                                    <input type="text" class="form-control" id="codigo" placeholder="Código">
                                </div>
                                <div class="form-group">
                                     <label for="exampleInputPassword1">Nombre</label>
                                     <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Dirección</label>
                                    <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                                </div>
                                <div class="form-group">
                                    <label for="condominio">Condominio</label>    
                                <select class="form-control form-control-sm">
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>A3</option>
                                </select>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Tel Ofi</label>
                                    <input type="tel" class="form-control" id="telofi" placeholder="TelOfi">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="col">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Logo</th>
                                                <th scope="col">Código</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Dirección</th>
                                                <th scope="col">Tel Ofi</th>
                                                <th scope="col">Modificar </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row"></th>
                                                <td>a</td>
                                                <td>a</td>
                                                <td>a</td>
                                                <td>a</td>
                                                <td>a</td>
                                                <td>a</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<</section>


<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <span class="h1 fw-bold mb-0">Condominios</span>
                                <div class="col">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Cédula</label>
                                            <input type="number" class="form-control" id="cedula"  placeholder="Cedula">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Nombre</label>
                                            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Teléfono</label>
                                            <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Foto</label>
                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>                                      
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="col">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Teléfono</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Foto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>a</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <
</section>


<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <span class="h1 fw-bold mb-0">Oficiales de Seguridad</span>
                                <div class="col">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nombre</label>
                                            <input type="text" class="form-control" id="Nombre"  placeholder="Nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Teléfono</label>
                                            <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Clave</label>
                                            <input type="password" class="form-control" id="clave" placeholder="Clave">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="col">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Teléfono</th>
                                                <th scope="col">Clave</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>a</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <</section>
